.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #0d1117;
  color: #ffffff;
}

.title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
}